proxmox_endpoint  = "https://YOUR-PROXMOX-HOST:8006"
proxmox_api_token = "user@pve!tokenname=00000000-0000-0000-0000-000000000000"
node_name         = "pve"
datastore_id      = "local-lvm"

vm_ssh_public_keys = [
  "ssh-ed25519 AAAA... user@device1",
  "ssh-ed25519 AAAA... user@device2"
]

vm_ip_configs = {
  hol-site-dc = {
    address = "192.0.2.201/24"
    gateway = "192.0.2.1"
  }
  hol-site-cloud = {
    address = "192.0.2.202/24"
    gateway = "192.0.2.1"
  }
}
